// Global styles
a,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Focus
*:focus {
  outline: none;
}

// Inputs
input {
  &:focus {
    outline: none;
  }
}
input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

// Custom Checkbox Style
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  margin: 0;
  border-radius: 4px;
  .checkbox-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    &::after {
      content: "\2717";
      font-size: 18px;
      line-height: 1;
      color: #ffffff;
      font-family: Arial Unicode MS;
      font-weight: 100;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      & ~ .checkbox-style {
        background: #017aff;
        &:after {
          content: "\2713";
        }
      }
    }
  }
}

// Arsenic Brand Logo
// .brand-logo {
//   position: absolute;
//   top: 10px;
//   left: 15px;
//   margin: 0;
// }

// Buttons
.btn {
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 11px;
  border-radius: 6px;
  overflow: hidden;
  background-blend-mode: normal;
  box-shadow: 0px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
  &.btn-orange {
    color: #ffffff;
    background-color: #fa6400;
  }
  &.btn-white {
    background-color: #ffffff;
  }
}

// Popup body
.body-inner-wrapper {
  width: 100%;
  padding: 0 0 10px;
  margin: 0 auto;
  &.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    max-width: 500px;
    min-height: 100%;
  }
  & > .tab-content {
    width: 100%;
    padding: 15px 0 0;
  }
}

.not-found-info {
  display: flex;
  justify-content: space-between;
  align-items: top;
  .not-found-icon {
    width: 62px;
    min-width: 62px;
    height: 60px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .not-found-text {
    width: calc(100% - 100px);
  }
}
.not-found-text {
  .title {
    opacity: 90%;
    mix-blend-mode: multiply;
    font-weight: bold;
    font-size: 13px;
    color: #232526;
    line-height: 1.23;
    margin-bottom: 10px;
  }
  .text {
    font-weight: normal;
    font-size: 11px;
    color: #232526;
    line-height: 1.27;
  }
}

.not-found-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.not-found-options {
  .btns-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > button {
      width: calc(50% - 5px);
    }
  }
}

// Colors Tab
.colors-tab {
  width: 100%;
  height: 100%;
  .text {
    font-weight: normal;
    font-size: 11px;
    color: #797979;
    line-height: 1.27;
  }
}
// Popup Nav Tabs
.plugin-tab-nav {
  display: block;
  text-align: center;
  padding: 15px 0;
  .nav-tabs {
    display: inline-flex;
    padding: 2px 2px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    .nav-item {
      margin: 0;
    }
    .nav-link {
      font-weight: 500;
      font-size: 12px;
      color: #232526;
      line-height: 1.17;
      padding: 0.25rem 0.5rem;
      background: transparent;
      border: 0;
      border-radius: 4px;
      background-blend-mode: normal;
      &.active {
        background: #ffffff;
      }
    }
  }
}

// Color Shades block
.color-shades-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.color-shades-checkbox {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.color-preview-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 25px);
  height: 30px;
  padding: 8px;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.color-preview-title {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  text-transform: capitalize;
}
.color-picker-icon {
  line-height: 1;
  margin-left: 10px;
}
.color-revert-icon {
  margin-left: auto;
  cursor: pointer;
}

// Select Stylesheet
.select-stylesheet {
  select {
    width: 100%;
    border-radius: 4px;
    border-color: #d1d1d1;
    font-weight: 500;
    font-size: 13px;
    color: #232526;
    line-height: 1.23;
    padding: 5px 30px 5px 10px;
    margin: 0 0 10px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("../images/select-menu-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
  }
}

// Select Base Color Block
.select-base-color-block {
  width: 100%;
  height: 100px;
  margin: 0 0 10px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 1px #000000;
  position: relative;
  .pick-color-block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 1;
    pointer-events: none;
    .material-icons {
      font-size: 1.25rem;
      line-height: 1;
    }
  }
  input[type="color"] {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    padding: 0;
    margin: -5px;
    border: 0;
    background: transparent;
  }
}

// Color-code and Advanced
.color-code-advanced {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

// Toggle Advance Settings
.toggle-advanced {
  .select-color-shades {
    display: none;
  }
}
.select-color-shades {
  font-weight: normal;
  font-size: 13px;
  color: #232526;
  line-height: 1.23;
}

// Advanced Options Block
.toggle-advanced {
  .advanced-options-block {
    display: block;
  }
}
.advanced-options-block {
  display: none;
}

.Generate4lightera {
  font-weight: normal;
  font-size: 11px;
  color: #797979;
  line-height: 1.27;
}

.min-max-value-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input-group {
    .input-group-prepend {
      & > .input-group-text {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
.range-slider {
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
  position: relative;
  input[type="range"] {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  input[type="number"] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:invalid,
    &:out-of-range {
      border: 2px solid #ff6347;
    }
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    &:focus {
      outline: none;
      &::-webkit-slider-runnable-track {
        background: #2497e3;
      }
      &::-ms-fill-lower {
        background: #2497e3;
      }
      &::-ms-fill-upper {
        background: #2497e3;
      }
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      background: #2497e3;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }
    &::-webkit-slider-thumb {
      z-index: 2;
      position: relative;
      box-shadow: 0px 0px 0px #000;
      border: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #a1d0ff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }
    &::-moz-range-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      background: #2497e3;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }
    &::-moz-range-thumb {
      z-index: 2;
      position: relative;
      box-shadow: 0px 0px 0px #000;
      border: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #a1d0ff;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: #2497e3;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }
    &::-ms-thumb {
      z-index: 2;
      position: relative;
      box-shadow: 0px 0px 0px #000;
      border: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background: #a1d0ff;
      cursor: pointer;
    }
  }
}

// Typeface Tab
.typeface-tab {
  width: 100%;
  height: 100%;
}
.NoteTypefacingnot {
  font-weight: normal;
  font-size: 11px;
  color: #797979;
  line-height: 1.27;
}

// Typeface List Item
.SelectAllNone {
  .custom-checkbox {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .checkbox-style {
      width: 34px;
      height: 34px;
      margin-right: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.typeface-list-item {
  & > label {
    margin-bottom: 0;
  }
}

.fontfamily-list-item {
  padding: 2px 3px 2px 5px;
  margin-right: 5px;
  border-radius: 0.25rem;
  cursor: pointer;
  &.selected,
  &:hover {
    background: rgba(0, 0, 0, 0.15);
  }
}

.font-family-selection {
  height: 100%;
  min-height: 100px;
  max-height: 334px;
  overflow: hidden;
  & > ul {
    height: 100%;
    overflow-y: auto;
  }
}

.typeface-selection {
  height: 100%;
  min-height: 100px;
  max-height: 374px;
  overflow: hidden;
  margin: 0 0 10px;
  background-color: rgba(27, 9, 9, 0.05);
  border-radius: 0.25rem;
  & > ul {
    height: 100%;
    overflow-y: auto;
  }
}

.typeface-list-item {
  margin: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  & > label {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
}

.update-apply {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  .update-all {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 13px;
    color: #232526;
    line-height: 1.23;
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
  .btn-primary {
    width: auto;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    line-height: 1.23;
    text-align: center;
    background-color: #017aff;
    border-radius: 6px;
    background-blend-mode: normal;
  }
}

// // Select All Color Shaded - Custom Checkbox
// .select-all-colors {
//   padding: 0 10px 0 0;
//   margin: 0 0 5px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   .custom-checkbox {
//     .checkbox-style {
//       margin-right: 5px;
//       border-top-right-radius: 0;
//       border-bottom-right-radius: 0;
//     }
//   }
// }

// Color Shades Listing - Custom Checkbox
.color-shades-list-item {
  .custom-checkbox {
    .checkbox-style {
      height: 32px;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.15);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .color-preview-block {
    height: calc(30px + 2px);
    border-radius: 0.25rem;
  }
}

// Advanced Option - Custom Checkbox
.advanced-option-checkbox {
  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-size: 13px;
    color: #232526;
    letter-spacing: 0;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .checkbox-style {
      margin-right: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

// Typeface-list-item - checkbox
.typeface-list-item {
  .custom-checkbox {
    .checkbox-style {
      width: 20px;
      height: 20px;
      &::after {
        font-size: 14px;
      }
    }
  }
}

// Footer
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  padding: 10px 15px;
  z-index: 1;
}
