@import "./typography.scss";
@import "./range-slider";
@import "./plugin-style";

// Layout
body,
html {
  height: 100%;
  font-size: 16px;
}
// Custom Scroll with CSS // Browser Support - Chrome, Safari and Firefox
* {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: rgba(0, 0, 0, 0.02);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

