///////////////////////////////////////////////
//~~~~~~~~~~~~~~~~~~ Font-Size Variables ~~~~~~
///////////////////////////////////////////////
$text-4xs: 0.625rem;
$text-3xs: 0.6875rem;
$text-2xs: 0.75rem;
$text-xs: 0.8125rem;
$text-sm: 0.9375rem;
$text-base: 1rem;
$text-lg: 1.0625rem;
$text-xl: 1.125rem;
$text-2xl: 1.25rem;
$text-3xl: 1.375rem;
$text-4xl: 1.5rem;
$text-5xl: 2rem;
$text-6xl: 2.5rem;
$text-7xl: 5rem;

///////////////////////////////////////////////
//~~~~~~~~~~~~~~~~~~ Heading ~~~~~~~~~~~~~~~~~~
///////////////////////////////////////////////
.heading-1 {
  font-size: $text-7xl;
  letter-spacing: -1.76px;
  line-height: 102px;
}

.heading-2 {
  font-size: $text-6xl;
  letter-spacing: -0.88px;
  line-height: 56px;
}

.heading-3 {
  font-size: $text-5xl;
  letter-spacing: -0.7px;
  line-height: 44px;
}

.heading-4 {
  font-size: $text-4xl;
  letter-spacing: -0.45px;
  line-height: 32px;
}

.heading-5 {
  font-size: $text-3xl;
  letter-spacing: -0.4px;
  line-height: 30px;
}

.heading-6 {
  font-size: $text-2xl;
  letter-spacing: -0.34px;
  line-height: 28px;
}

.subtitle {
  font-size: $text-xl;
  letter-spacing: -0.25px;
  line-height: 24px;
}

.text-body {
  font-size: $text-lg;
  letter-spacing: -0.22px;
  line-height: 24px;
}

.callout {
  font-size: $text-base;
  letter-spacing: -0.25px;
  line-height: 22px;
}

.subhead {
  font-size: $text-sm;
  letter-spacing: -0.12px;
  line-height: 22px;
}

.footnote {
  font-size: $text-xs;
  letter-spacing: -0.03px;
  line-height: 18px;
}

.caption {
  font-size: $text-2xs;
  letter-spacing: auto;
  line-height: 18px;
}

.label {
  font-size: $text-3xs;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.small {
  font-size: $text-4xs;
  letter-spacing: 0.1px;
  line-height: 14px;
}
